<h1>New Artist Form</h1>

<%= form_for (@artist) do |c| %>
    <%= c.label "Artist Name: " %><br>
    <%= c.text_field :name %><br>
    <%= c.label "Bio: " %><br>
    <%= c.text_field :bio %><br>
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <%= c.submit "Create Artist"%>
 <% end %>    