<h1>New Song Form</h1>

<%= form_for (@song) do |c| %>
    <%= c.label "My song Name: " %><br>
    <%= c.text_field :name %><br>
    <%= c.label "Artist Id: " %><br>
    <%= c.text_field :artist_id %><br>
    <%= c.label "Genre Id: " %><br>
    <%= c.text_field :genre_id %><br>
    <%= c.submit "Create Song"%>
 <% end %>    